{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}

<h1>Ground Position</h1>
<br>
<p>By taking your opponent to the ground, you are able to minimize your opponent's exsplosiveness in their strikes. While on the ground, there are positional hiararchies, which are defined on your ability minimize your opponen't striking potential, defend yourself, control your opponent's movements, and ultimately end the fight through your own strikes or submissions</p>

<h2> Ground Bottom [Positional Hierarchy]</h2>
<p>An inferior position, focused on defense, and escaping to a more adavantageous position.
</p>
<ol>
    <li> <a href="/juijitsu/guard">Guard</a></li>
    <li> Half Guard</li>
    <li> Turtle</li>
    <li> Side Control</li>
    <li> Mounted</li>
    <li> Bottom Rear Mounted </li>
    <li> Top Rear Mounted</li>
</ol>


<br>

<h2> Ground Top [Positional Hierarchy]</h2>
<p>An advantageous position focused on control, pressure, and  attacking.
</p>
<ol>
    <li> Top Rear Mount</li>
    <li> Bottom-rear Mount</li>
    <li> Mounted</li>
    <li> Knee on Belly</li>
    <li> Side Control</li>
    <li>Turtle </li>
    <li> Half Guard</li>
</ol>


{% endblock %}